input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: none;

}




/* body tag */

body{
    
    height: 150vh;
}


/*   Input tag   */

input{
    border: none;
    padding: 10px;
    background-color: #DCDCDC;
    font-weight: 500;
}



/*   Button Tag    */

button{
    padding: 5px 15px;
    font-weight: 500;
    border: none;
    background-color: #59A5FF;
}